@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
    url('./fonts/subset-ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
    url('./fonts/subset-ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
